html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-items: baseline;

    margin: 0;
    padding: 0;
    font-size: 1em;
    background: no-repeat center/80% url(images/space_dark.png);
    background-color: black;
    background-size: cover;
    animation: appear forwards 1s;
    overflow: hidden;

}

h1 {
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-size: min(2em, 6vw);
    color: white;
    margin: 0;
}

h2{
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-size: min(1.2em, 3.5vw);
    color: white;
    margin: 0;
}

.contentimg {
    max-height: 60vh; 
    max-width:95%;
    align-self: center;
}

img{
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -webkit-user-drag: none;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size: min(3vw, 1em);
    text-align: left;
    color: rgb(210, 210, 210);
}

a {
    color: orange;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link::before{
    display: inline-flex;
    content: '';
    background-image: url('images/link.svg');
    background-size: 1em 0.7em;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 1em ;
    width: 1em ;
    filter: invert();
}

a:visited {
    color: orange;
    text-decoration: none;
}

li {
    color: rgb(210, 210, 210);
    font-family: "Roboto Mono", monospace;
    font-size: min(3vw, 1em);
}

@keyframes appear {
    from {
        filter: brightness(0);
    }

    to {
        filter: brightness(1);
    }
}

@keyframes drop {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.1, 1);
    }
}

@keyframes sizeup {
    from {
        scale: 1;
    }

    to {
        scale: 1.1;
    }
}

@keyframes sizeup2 {
    from {
        scale: 1;
    }

    to {
        scale: 1.5;
    }
}

@keyframes sizedown {
    from {
        scale: 1.1;
    }

    to {
        scale: 1;
    }
}

@keyframes sizedown2 {
    from {
        scale: 1.5;
    }

    to {
        scale: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes slidein {
    from {
        translate: 100px;
        scale: 0;
    }

    to {
        translate: 0px;
        scale: 1;
    }
}

@keyframes borderin {
    from {
        border-top: 0em solid;
    }

    to {
        border-top: 0.4em solid rgb(97, 181, 63);
    }
}



button {
    /* background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(34,34,34,1) 18%, rgba(34,34,34,1) 79%, rgba(0,0,0,0) 100%); */
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 0;
    border-style: none;
    height: 100%;
    min-width: 7em;
    width: 15vw;
    font-size: min(1.5em, 3vw);
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    border: solid;
    border-width: 0em;
    border-color: white;
    box-sizing: border-box;
}

button:hover {
    animation: borderin 0.3s ease-out forwards;
    cursor: pointer;
    background: rgb(52, 52, 52);
}

button:active {
    background-color: rgb(86, 86, 86);
}

.header {
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
    background: rgb(34, 34, 34);
    height: 6vh;
    min-height: 3em;
    width: 100%;
    border-bottom: solid 1px rgb(125, 125, 125);
    box-sizing: border-box;
}

.pages {
    display: flex;
    height: 100%;
    justify-items: center;
    justify-content: center;

}

.contacts {
    height: 5vh;
    min-height: 3em;
    margin-top: 1.5vh;
    float: left;
    position: fixed;
    display: flex;
    justify-self: center;
    gap: 10px;
    margin-left: 1em;
}

.contactimage {
    height: 60%;
    justify-self: center;
}

.contactimage:hover {
    filter: drop-shadow(0 0 0.5em rgb(97, 181, 63));
}

.contact:hover>.email {
    display: block;
}

.email {
    display: none;
    position: fixed;
}

.content {
    height: 100%;
    width: 80em;
    max-width: 100%;
    display: inline-block;

    justify-content: center;
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
}

.charcontent {
    height: 100%;
    width: 80em;
    max-width: 100%;
    display: block;
    overflow: auto;
    justify-content: center;
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
    background: rgb(19, 19, 19);

    overflow-y: auto;
    scrollbar-color: rgb(125, 125, 125) rgb(19, 19, 19);
    border-left: 1px solid rgb(125, 125, 125);
    border-right: 1px solid rgb(125, 125, 125);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.expirience {
    /* display: flex; */
    height: 100%;
    width: 100%;
    color: white;
    background: rgb(19, 19, 19);
    /* border-left: 1px solid rgb(125, 125, 125);
    border-right: 1px solid rgb(125, 125, 125); */
    box-sizing: border-box;
    padding: 2em;
}

.charachter {
    display: flex;
    
    flex-direction: column;
    justify-content: start;
    align-content: center;
    background-color: rgb(19, 19, 19);
    width: 20%;
    height: auto;
    border-left: 1px solid rgb(125, 125, 125);
    border-right: 1px solid rgb(125, 125, 125);
    box-sizing: border-box;
    padding-top: 2em;
}

.myname {
    text-align: center;
    background: rgb(19, 19, 19);
    width: 100%;
}

.myimage {
    width: 70%;
    align-self: center;
    color: white;
    animation: spin linear 10s infinite;
}

.myskills {
    padding: 3%;
    background: rgb(19, 19, 19);

}

.skill {
    background: black;
    border-radius: 7px;
    height: auto;
    padding: 4%;
    animation: slidein 1s forwards;
}

.map {
    height: auto;
    display: flex;
    position: fixed;
    margin-top: 10vh;
    width: auto;
    
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-content: center;
    align-self: center;
    /* max-height: 90vw; */
    max-height: 100%;
}

.mapback {
    width: 90%;
    max-height: 90vh;


}


.mapmarker {
    position: absolute;
    background-color: rgba(81, 239, 42, 0.378);
    border: 2px solid rgb(194, 194, 194);
    border-radius: 50%;
    cursor: pointer;
    animation: sizedown2 0.5s forwards;

    height: 0;
    padding-bottom: min(5%, 5vw);
    width: min(5%, 5vw);

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.sideproject{
    background-color: rgba(35, 115, 150, 0.378);
}

.mapmarker:hover {
    animation: sizeup2 .5s forwards;
}

.mapmarker:hover>.markerinfo {
    display: inline-flex;
}

.markerinfo {
    display: none;
    flex-direction: row;
    translate: 0 -60px;
    position: relative;
    align-self: center;
    align-items: center;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;

    color: white;
    width: auto;

    border: solid 1px white;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.551);
    backdrop-filter: blur(10px);

    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -webkit-user-drag: none;
}

.maplegend {
    animation: slidein 1s forwards;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    position: fixed;
    top: clamp(7vh, 90vw, 91vh); ;
    
    right: 1vh;
    width: 20em;
    max-height: 20vh;
    min-height: 3vh;
    max-width: 80vw;
    
    background-color: rgba(0, 0, 0, 0.551);
    border: solid .1em rgb(125, 125, 125);
    backdrop-filter: blur(10px);
}

.mapbutton:enabled::after{
    content: 'MAP';
}

.mapbutton:hover::after{
    content: 'PORTFOLIO';
}

.mapmodal {
    display: none;
    box-sizing: border-box;
    flex-direction: column;
    backdrop-filter: blur(10px);
    max-width: 100%;
    width: 100%;
    
    height: 100%;
    background-color: rgba(0,0,0,.721);
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid rgb(125,125,125);
}

.description {
    display: flex;
    overflow-y: auto;
    scrollbar-color: rgb(125, 125, 125) rgb(19, 19, 19);
    scrollbar-width: thin;
    scroll-behavior: smooth;
    flex-direction: column;
    width: 100%;
    height: 94vh;
    padding: 2em;
    box-sizing: border-box;
    justify-items: center;
}

.closemodal{
    color: brown;
    position: fixed;
    flex-shrink: 0;
    align-self: right;
    right: 1em;
    top: 0.5em;
}

.closemodal:hover{
    color: red;
    cursor: pointer;
}

.inventorycontent {
    height: 100%;
    width: 80em;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: bottom;
    align-self: center;
    justify-self: center;
    border-left: 1px solid rgb(125, 125, 125);
    border-right: 1px solid rgb(125, 125, 125);
    overflow: auto;
    overflow-y: auto;
    scrollbar-color: rgb(125, 125, 125) rgb(19, 19, 19);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.invtitle{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 1em;
    background: rgb(19, 19, 19);
}

.grid {
    background: rgb(19, 19, 19);
    display: flex;
    flex-flow: wrap;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1em;
}

.slot {
    display: flex;
    width: 6vw;
    height: 6vw;
    min-height: 4em;
    min-width: 4em;
    color: white;
    border: solid .1em rgb(125, 125, 125);
    border-radius: 0.2em;
    margin: .4vw;
    animation: sizedown .5s forwards;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;

    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -webkit-user-drag: none;
}

.slot:hover {
    animation: sizeup .5s forwards;
    border-color: white;
}

.invicon {
    width: 90%;
    max-height: 90%;
    display: flex;
    align-self: center;
    align-items: center;
    box-sizing: border-box;
    filter: brightness(0.9);
}

.invicon:hover {
    filter: brightness(1);
}

.inventoryinfo {
    width: 100%;
    height: 100%;
    color: white;
    background: rgb(19, 19, 19);
    border-top: 1px solid rgb(125, 125, 125);
    padding: 2em;
    box-sizing: border-box;

}

/* If the cube is directly inside the container:

#container:hover > #cube { background-color: yellow; }
If cube is next to (after containers closing tag) the container:

#container:hover + #cube { background-color: yellow; }
If the cube is somewhere inside the container:

#container:hover #cube { background-color: yellow; }
If the cube is a sibling of the container:

#container:hover ~ #cube { background-color: yellow; } */